{% extends 'base_generic.html' %}
{% load crispy_forms_filters %}

{% block content %}

  <h3 style="text-align:center">ADD OPERATION </h3>
    <hr>

<div class="cointainer-fluid">
  <form method="post" >
    {% csrf_token %}

    <div class="form-group col-md-3 mb-2">
        {{ form.operation_name|as_crispy_field }}

    </div>

      <div class="form-group col-md-6 mb-2">
        {{ form.comments|as_crispy_field }}
      </div>


      <div class="form-group col-md-3 mb-2">
        {{ form.operation_status|as_crispy_field }}
      </div>

    <button type="submit" class="btn btn-secondary">Signs</button>
  </form>
{% endblock %}
</div>